
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
</head>
<!-- SHOWCASE SLIDER -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption text-right mb-5">
            <h1 class="display-3">Largest eBooks Collection</h1>
            <p class="lead d-none d-sm-block"> Over 100000 Books |10000 Authors From Across the world</p>
            <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption mb-5">
            <h1 class="display-3  ">Read any where</h1>
            <p class="lead "> Can be Accessed from any divice </p>
            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption text-right mb-5">
            <h1 class="display-3 d-none d-sm-block"><strong>Free trail</strong></h1>
            <h4 class=" d-none d-sm-block ">Upto 2Gb of Free Storage</h4>
            <a href="#" class="btn btn-success btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
  
  
  
   <header id="home-section">
      <div class="home-inner container">
        <div class="dark-overlay">
        <div class="row">
          <div class="col-lg-8  d-lg-block">
            <h1 class="display-4">Largest
              <strong>Books collection</strong> from
              <strong>Google</strong>
            </h1>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check" aria-hidden="true" ></i>
              </div>
              <div class="p-4 align-self-end">
                “A room without books is like a body without a soul.”
              </div>
            </div>
  
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check" aria-hidden="true" ></i>
              </div>
              <div class="p-4 align-self-end">
                “Good friends, good books, and a sleepy conscience: this is the ideal life.”
              </div>
            </div>
  
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                “If you only read the books that everyone else is reading, you can only think what everyone else is thinking.”
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header> 
  
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Book Library</h1>
      <a class="display-4" href="">Visit us</a>
    </div>
  </div>
  
  

  <div class="card-columns div div img bgcolor p-2">
      <div class="card k img" >
        <img src="assets/images/Pic12.jpg" class="card-img-top rounded float-left " alt="...">
        <div class="card-body">
          <h5 class="card-title">ROSES ARE BLOOD RED</h5>
          <p class="card-text">You can check the reviews of book<a href="https://medium.com/@AnushkaMehta/roses-are-blood-red-a-review-7d8b232cb303"> here </a>and you can order these kind of book in this book house.</p>
        </div>
      </div>
      <div class="card k img">
        <img src="assets/images/Pic13.jpg" class="card-img-top rounded float-left" alt="...">
        <div class="card-body">
          <h5 class="card-title">DEATH AN INSIDE STORY</h5>
          <p class="card-text">You can check the reviews of book<a href="https://legaltrigger.in/book-review-death-an-inside-story-by-sadguru-a-must-read-book/"> here </a>and you can order these kind of book in this book house.</p>
        </div>
      </div>
      <div class="card k img">
          <img src="assets/images/Pic14.jpg" class="card-img-top rounded float-left" alt="...">
          <div class="card-body">
            <h5 class="card-title">STORIES WE NEVER TELL</h5>
            <p class="card-text">You can check the reviews of book<a href="https://thevoiceofvivek.wordpress.com/2020/03/26/book-review-stories-we-never-tell/"> here </a>and you can order these kind of book in this book house.</p>
          </div>
        </div>
      <div class="card bg-dark text-white text-center p-3" >
          <blockquote class="blockquote mb-0" >
            <p>“Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers.”</p>
            <footer class="blockquote-footer text-white">
              <small>
                <cite title="Source Title">Charles W. Eliot</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card k img">
          <img src="assets/images/Pic16.jpg" class="card-img-top rounded float-left" alt="...">
          <div class="card-body">
            <h5 class="card-title">MIND MASTER</h5>
            <p class="card-text">You can check the reviews of book<a href="https://www.firstpost.com/sports/mind-master-review-viswanathan-anands-autobiography-is-an-unflinching-look-at-the-career-of-indias-greatest-chess-superstar-7910051.html"> here </a>and you can order these kind of book in this book house.</p>
           
          </div>
        </div>
        <div class="card k img">
          <img src="assets/images/Pic15.jpg" class="card-img-top rounded float-left" alt="...">
          <div class="card-body">
            <h5 class="card-title">MIND YOUR MIND</h5>
            <p class="card-text">You can check the reviews of book<a href="https://books.google.co.in/books/about/Mind_Your_Mind.html?id=J-XIDwAAQBAJ&redir_esc=y"> here </a>and you can order these kind of book in this book house.</p> 
          </div>
        </div>
    </div><br>
  
    <br>
  
    <div class="table table-striped bgcolor">
      <h1 align="center" style="color: white;">Featured Children Booksets</h1>
      <table class="table">
        <tr>
            <td><img src="assets/images/Pic25.jpg" class="img-fluid mb-4 k img "></td>
            <td><img src="assets/images/Pic26.jpg" class="img-fluid mb-4 k img"></td>
            <td><img src="assets/images/Pic27.jpg" class="img-fluid mb-4 k img"></td>
            <td><img src="assets/images/Pic28.jpg" class="img-fluid mb-4 k img"></td>
            <td><img src="assets/images/Pic29.jpg" class="img-fluid mb-4 k img"></td>
            <td><img src="assets/images/Pic30.jpg" class="img-fluid mb-4 k img"></td>
        </tr>
      </table>
    </div><br>
  
    <div class="table table-striped">
      <h1 align="center" style="color: black;">Students Activities</h1>
      <table class="table">
        <tr>
            <td><img src="assets/images/Ch1.jpg" class="img-fluid mb-4 k img "></td>
            <td><img src="assets/images/Ch2.jpg" class="img-fluid mb-4 k img"></td>
            <td><img src="assets/images/Ch3.jpg" class="img-fluid mb-4 k img"></td>  
            <td><img src="assets/images/Ch4.jpg" class="img-fluid mb-4 k img"></td>     
        </tr>
      </table>
    </div><br>
  
  
    <div class="table table-striped">
      <h1 align="center" style="color: black;">Back to School</h1>
      <table class="table">
        <tr>
            <td><img src="assets/images/Ch5.jpg" class="img-fluid mb-4 k img "></td>
            <td><img src="assets/images/Ch8.jpg" class="img-fluid mb-4 k img"></td>
            <td><img src="assets/images/Ch7.jpg" class="img-fluid mb-4 k img"></td>  
                 
        </tr>
      </table>
    </div><br>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--------------Footer--------------------------------->
   <hr>
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
<!---------------------Contact Us-------------------------------->
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Contact Us<span>.</span></h3>
          <p>
            Galaxy Business Park,<br>
            Noida, 201309,<br>
            Uttar Pradesh, India <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@DXCBookappTeam.com<br>
          </p>
        </div>
<!-----------------------------------Useful Links-------------------------->
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">News</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>
<!-----------------OurTeams-------------------------->
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Books</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Harry Potter Books</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Children Books</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">UPSC Books</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">General Knowledge Books</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Government Exam Books</a></li>
          </ul>
        </div>
<!----------------------Drop Email for queries---------------------->
       <div class="social-links col-lg-3 col-md-6 footer-links">
           <h4>Follow Us On</h4>
           <a href="#" class="twitter"><i style="font-size:24px" class="fa">&#xf09a;</i></a>
           <a href="#" class="facebook"><i style="font-size:24px" class="fa">&#xf099;</i></a>
           <a href="#" class="instagram"><i style="font-size:24px" class="fa">&#xf17e;</i></a>
           <a href="#" class="google-plus"><i style="font-size:24px" class="fa">&#xf0e1;</i></a>
           <a href="#" class="linkedin"><i style="font-size:24px" class="fa">&#xf16d;</i></a>
    </div>

      </div>
    </div>
  </div>
</footer>
      
          
     

